@model ActiveEdge.Models.ClientModel

@{
  ViewBag.Title = "Edit Client";
}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Edit</h2>
    <ol class="breadcrumb">
      <li>
        @Html.ActionLink("List", "Index")
      </li>
      <li class="active">
        <strong>Edit Client</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      @Html.ActionLink("Back to List", "Index", null, new {@class = "btn btn-primary"})
    </div>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Edit Client</h5>
        </div>
        <div class="ibox-content">

          @using (Html.BeginForm())
          {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
              @Html.EditorForModel()

              <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                  <input type="submit" value="Save" class="btn btn-primary"/>
                  @Html.ActionLink("Cancel", "Index", null, new {@class = "btn btn-white"})
                </div>
              </div>

            </div>
          }


        </div>
      </div>
    </div>
  </div>
</div>


@section scripts {
  @Scripts.Render(Bundles.Scripts.JqueryValidation)
  @Scripts.Render(Bundles.Scripts.DatePicker)
  @Scripts.Render(Bundles.Scripts.ICheck)
  @Scripts.Render(Bundles.Scripts.NoUiSlider)
  @Scripts.Render(Bundles.Scripts.Client.Edit)




}

@section styles
{
  @Styles.Render(Bundles.Css.DatePicker)
  @Styles.Render(Bundles.Css.ICheck)
  @Styles.Render(Bundles.Css.NoUiSlider)


}