@model IEnumerable<ActiveEdge.Read.Model.ClientModel>

@{
  ViewBag.Title = "Registered Clients";
}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Registered Clients</h2>
    @*<ol class="breadcrumb">
      <li class="active">
        <strong>Registered Clients</strong>
      </li>
    </ol>*@
  </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
  @Html.Partial("_AlertsPartial")


  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>List of Clients</h5>
          <div class="ibox-tools">
            @Html.ActionLink("Create New", "Create", null, new {@class = "btn btn-primary btn-xs"})
          </div>
        </div>
        <div class="ibox-content">

          <table class="table table-striped">
            <tr>
              <th>
                @Html.DisplayNameFor(model => model.FullName)
              </th>
              <th>
                @Html.DisplayNameFor(model => model.Email)
              </th>
              <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
              </th>
              <th>
                @Html.DisplayNameFor(model => model.Gender)
              </th>
              <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
              </th>
              <th>
                @Html.DisplayNameFor(model => model.SessionCount)
              </th>
              <th></th>
            </tr>

            @foreach (var item in Model)
            {
              <tr>
                <td>
                  @Html.ActionLink(item.FullName, "Details", new {id = item.Id})
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.ContactNumber)
                </td>
                <td>
                  @Html.ActionLink(item.SessionCount.ToString(), "ForClient", new { controller = "Session", id = item.Id })
                </td>
                <td>
                  @Html.ActionLink("Edit", "Edit", new {id = item.Id}, new {@class = "btn btn-white btn-sm"})
                  @Html.ActionLink("Delete", "Delete", new {id = item.Id}, new {@class = "btn btn-white btn-sm"})
                </td>
              </tr>
            }

          </table>

        </div>
      </div>
    </div>
  </div>
</div>

@section scripts {
  @Scripts.Render("~/plugins/iCheck")

  <script type="text/javascript">
    $(document)
      .ready(function() {

        $('.i-checks')
          .iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
          });

      });
  </script>
}

@section styles
{

  @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")


}