@using ActiveEdge.Helpers
@model ActiveEdge.Models.Client

@{
  ViewBag.Title = "Create2";
}
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
     
        <div class="ibox-content">
          <h2>
            Client Intake Form
          </h2>
          <p>
            New client registration
          </p>
          @Html.ValidationSummary()
          @using (Html.BeginForm("Create", "Client", FormMethod.Post, new Dictionary<string, object>() { {"id", "form"}, { "class", "wizard-big" } }))
          {
            <h1>Personal Information</h1>
            <fieldset>
              <h2>Personal Information</h2>
              <div class="row">
                <div class="col-lg-5">
                  @Html.EditorFor(model => model.FirstName, "FormGroupTextBox")
                </div>
                <div class="col-lg-5">
                  @Html.EditorFor(model => model.LastName, "FormGroupTextBox")
                </div>
              </div>
              <div class="row">
                <div class="col-lg-5">
                  @Html.EditorFor(model => model.DateOfBirth, "FormGroupDateTime")
                </div>
                <div class="col-lg-5">
                  @Html.EditorFor(model => model.Gender, "FormGroupEnumDropDownList")
                </div>
              </div>
              <div class="row">
                <div class="col-lg-5">
                  @Html.EditorFor(model => model.Email, "FormGroupTextBox")
                </div>
                <div class="col-lg-5">
                  @Html.EditorFor(model => model.ContactNumber, "FormGroupTextBox")
                </div>
              </div>
              <div class="row">
                <div class="col-lg-5">
                  @Html.EditorFor(model => model.AddressLine1, "FormGroupTextBox")
                </div>
                <div class="col-lg-5">
                  @Html.EditorFor(model => model.AddressLine2, "FormGroupTextBox")
                </div>
              </div>
              <div class="row">
                <div class="col-lg-5">
                  @Html.EditorFor(model => model.Suburb, "FormGroupTextBox")
                </div>
                <div class="col-lg-5">
                  @Html.EditorFor(model => model.City, "FormGroupTextBox")
                </div>
              </div>
              <div class="col-lg-4">
                <div class="text-center">
                  <div style="margin-top: 20px">
                    <i class="fa fa-sign-in" style="color: #e5e5e5; font-size: 180px;"></i>
                  </div>
                </div>
              </div>
              @*</div>*@

            </fieldset>
            <h1>History</h1>
            <fieldset>
              <h2>History</h2>
              <div class="row">
                <div class="col-lg-5">
                  @Html.EditorFor(model => model.ExcerciseFrequency, "FormGroupEnumDropDownList")
                </div>
                <div class="col-lg-5">
                  @Html.EditorFor(model => model.TouchPreference, "FormGroupEnumDropDownList")
                </div>
              </div>

              <div class="row">
                <div class="col-lg-5">
                  @Html.EditorFor(model => model.CurrentMedications, "FormGroupTextBox")
                </div>
                <div class="col-lg-5">
                  @Html.EditorFor(model => model.PreviousAilments, "FormGroupTextBox")
                </div>
              </div>
              <div class="row">
                <div class="col-lg-5">
                  @Html.EditorFor(model => model.GeneralPractionerName, "FormGroupTextBox")
                </div>
              </div>
              <div class="row">
                <div class="col-lg-5">
                  @Html.EditorFor(m => m.IsSmoker, "FormGroupCheckBox")
                  @Html.EditorFor(m => m.MedicalClearance, "FormGroupCheckBox")
                  @Html.EditorFor(m => m.HasHadPreviousTherapy, "FormGroupCheckBox")
                </div>
              </div>

            </fieldset>
            <h1>Medical Conditions</h1>
            <fieldset>
              <h2>Medical Conditions</h2>
              <div class="row">
                <div class="col-lg-4">
                  @Html.EditorFor(client => client.ContraIndicationsArteriosclerosis)
                  @Html.EditorFor(client => client.ContraIndicationsAsthma)
                  @Html.EditorFor(client => client.ContraIndicationsCancer)
                  @Html.EditorFor(client => client.ContraIndicationsColdOrFlu)
                  @Html.EditorFor(client => client.ContraIndicationsContactLenses)
                  @Html.EditorFor(client => client.ContraIndicationsCutsBurnsBruises)
                  @Html.EditorFor(client => client.ContraIndicationsDepression)
                  @Html.EditorFor(client => client.ContraIndicationsDiabetes)
                  @Html.EditorFor(client => client.ContraIndicationsDizziness)
                </div>
                <div class="col-lg-4">
                  @Html.EditorFor(client => client.ContraIndicationsHeadache)
                  @Html.EditorFor(client => client.ContraIndicationsHeartDisease)
                  @Html.EditorFor(client => client.ContraIndicationsHemophilia)
                  @Html.EditorFor(client => client.ContraIndicationsHernia)
                  @Html.EditorFor(client => client.ContraIndicationsHighBloodPressure)
                  @Html.EditorFor(client => client.ContraIndicationsImflammation)
                  @Html.EditorFor(client => client.ContraIndicationsIrritatedSkinRash)
                  @Html.EditorFor(client => client.ContraIndicationsIsPregnant)
                  @Html.EditorFor(client => client.ContraIndicationsLowBloodPressure)

                </div>
                <div class="col-lg-4">
                  @Html.EditorFor(client => client.ContraIndicationsMusculoskletalProblems)
                  @Html.EditorFor(client => client.ContraIndicationsPinsPacemaker)
                  @Html.EditorFor(client => client.ContraIndicationsSeverePain)
                  @Html.EditorFor(client => client.ContraIndicationsSunburn)
                  @Html.EditorFor(client => client.ContraIndicationsSleepDisturbance)
                  @Html.EditorFor(client => client.ContraIndicationsVaricoseVeins)
                  @Html.EditorFor(client => client.ContraIndicationsIsPregnant)
                  @Html.EditorFor(client => client.ContraIndicationsStomachUlcers)
                  @Html.EditorFor(client => client.ContraIndicationsEpilepsy)
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    @Html.LabelFor(model => model.CurrentStressLevels)
                    <div id="currentStressLevelsSlider"></div>
                    @Html.HiddenFor(model => model.CurrentStressLevels)
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    @Html.LabelFor(model => model.CurrentPainOrTensionLevels)
                    <div id="currentPainOrTensionLevelsSlider"></div>
                    @Html.HiddenFor(model => model.CurrentPainOrTensionLevels)
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-8">
                  @Html.EditorFor(model => model.Difficulties, "FormGroupTextBox")
                  @Html.EditorFor(model => model.AreasNotToBeMassaged, "FormGroupTextBox")
                </div>
              </div>
            </fieldset>
            <h1>Finish</h1>
            <fieldset>
              <h2>Terms and Conditions</h2>
              <div class="row">
                <div class="col-lg-12">
                  @Html.EditorFor(model => model.TermsAndConditionsConditions1, "FormGroupCheckBox")
                  @Html.EditorFor(model => model.TermsAndConditionsConditions2, "FormGroupCheckBox")
                  @Html.EditorFor(model => model.TermsAndConditionsConditions3, "FormGroupCheckBox")
                  @Html.EditorFor(model => model.TermsAndConditionsConditions4, "FormGroupCheckBox")
                  @Html.EditorFor(model => model.TermsAndConditionsConditions5, "FormGroupCheckBox")
                  @Html.EditorFor(model => model.TermsAndConditionsConditions6, "FormGroupCheckBox")
                  @Html.EditorFor(model => model.TermsAndConditionsConditions7, "FormGroupCheckBox")
                  @Html.EditorFor(model => model.TermsAndConditionsConditions8, "FormGroupCheckBox")
                </div>
              </div>
            </fieldset>
          }
        </div>
      </div>
    </div>

  </div>
</div>

@section Styles {
  @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
  @Styles.Render("~/plugins/wizardStepsStyles")
  @Styles.Render("~/plugins/nouisliderStyles")
}

@section Scripts {
  @Scripts.Render("~/plugins/wizardSteps")
  @Scripts.Render("~/plugins/dataPicker")
  @Scripts.Render("~/plugins/iCheck")
  @Scripts.Render("~/plugins/validate")
  @Scripts.Render("~/plugins/nouislider")
  @Scripts.Render("~/Scripts/Customer/Create.js")
  <script type="text/javascript">




  </script>
}