@model ActiveEdge.Read.Model.Users.UserModel

@{
  ViewBag.Title = "Add New User";
}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>@ViewBag.Title</h2>
    <ol class="breadcrumb">
      <li>
        @Html.ActionLink("List", "Index")
      </li>
      <li class="active">
        <strong>@ViewBag.Title</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      @Html.ActionLink("Back to List", "Index", null, new {@class = "btn btn-primary"})
    </div>
  </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>@ViewBag.Title</h5>
        </div>
        <div class="ibox-content">

          @using (Html.BeginForm("Create", "Users"))
          {
            <div class="form-horizontal">
              @Html.AntiForgeryToken()
              @Html.ValidationSummary(true)
              @Html.EditorFor(model => model.FirstName)
              @Html.EditorFor(model => model.LastName)
              @Html.EditorFor(model => model.Email)
              @Html.EditorFor(model => model.PhoneNumber)
              @Html.EditorFor(model => model.IsAdministrator)

              <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                  <input type="submit" value="Create" class="btn btn-primary"/>
                  @Html.ActionLink("Cancel", "Index", null, new {@class = "btn btn-white"})
                </div>
              </div>

            </div>
          }

        </div>
      </div>
    </div>
  </div>
</div>


@section scripts {
  @Scripts.Render(Bundles.Scripts.JqueryValidation)
  @Scripts.Render(Bundles.Scripts.DatePicker)
  @Scripts.Render(Bundles.Scripts.ActiveEdge)

  @Scripts.Render(Bundles.Scripts.ICheck)
}

@section styles
{
  @Styles.Render(Bundles.Css.ICheck)

}