@model ActiveEdge.Read.Model.Session.SessionModel
@Html.AntiForgeryToken()
@Html.ValidationSummary(true)


@Html.EditorFor(m => m.Date, "StandardFormDateTime")
@Html.HiddenFor(m => m.ClientId)
@Html.EditorFor(m => m.ClientFullName, "StandardFormTextBox")
@Html.EditorFor(m => m.Feedback, "StandardFormTextBox")
@Html.EditorFor(m => m.GoalOrExpectations, "StandardFormTextBox")

<div class="form-group">
  @Html.LabelFor(model => model.AreasOfDiscomfort, new {@class = "control-label col-md-2"})
  <div class="col-md-6">
    <div id="canvasDiv" class="areas-of-discomfort"></div>
    @Html.HiddenFor(model => model.AreasOfDiscomfort)
  </div>
</div>
@Html.EditorFor(m => m.ContributingFactorsToCondition, "StandardFormTextBox")
@Html.EditorFor(m => m.PreMassagePalpation, "StandardFormTextBox")
@Html.EditorFor(m => m.Hypothesis, "StandardFormTextBox")

<div class="hr-line-dashed"></div>
<div class="form-group">
  @Html.LabelFor(model => model.SessionPlan, new { @class = "control-label col-md-2" })
  <div class="col-md-6">
    @Html.EditorFor(model => model.SessionPlan)
    @Html.ValidationMessageFor(model => model.SessionPlan)
  </div>
</div>
<div class="hr-line-dashed"></div>
<div class="form-group">
  @Html.LabelFor(model => model.TreatmentNotes, new { @class = "control-label col-md-2" })
  <div class="col-md-6">
    @Html.EditorFor(model => model.TreatmentNotes)
    @Html.ValidationMessageFor(model => model.TreatmentNotes)
  </div>
</div>
<div class="form-group">
  <div class="col-md-offset-2 col-md-10">
    <input type="submit" value="Create" class="btn btn-primary" />
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white" })
  </div>
</div>
