@model ActiveEdge.Models.SessionModel
<dl class="dl-horizontal">
  <dt>
    @Html.DisplayNameFor(model => model.Date)
  </dt>

  <dd>
    @Html.DisplayFor(model => model.Date)
  </dd>
  
  <dt>
    @Html.DisplayNameFor(model => model.ClientFullName)
  </dt>

  <dd>
    @Html.DisplayFor(model => model.ClientFullName)
  </dd>

  <dt>
    @Html.DisplayNameFor(model => model.Feedback)
  </dt>

  <dd>
    @Html.DisplayFor(model => model.Feedback)
  </dd>

  <dt>
    @Html.DisplayNameFor(model => model.GoalOrExpectations)
  </dt>

  <dd>
    @Html.DisplayFor(model => model.GoalOrExpectations)
  </dd>
  <dt>
    @Html.DisplayNameFor(model => model.AreasOfDiscomfort)
  </dt>

  <dd>
    @Html.HiddenFor(model => model.AreasOfDiscomfort)
    <div id="canvasDiv" style="background-image: url('../../Content/clientintake-800x625.png'); background-repeat: no-repeat; background-size: contain;"></div>
  </dd>

  <dt>
    @Html.DisplayNameFor(model => model.ContributingFactorsToCondition)
  </dt>

  <dd>
    @Html.DisplayFor(model => model.ContributingFactorsToCondition)
  </dd>

  <dt>
    @Html.DisplayNameFor(model => model.PreMassagePalpatation)
  </dt>

  <dd>
    @Html.DisplayFor(model => model.PreMassagePalpatation)
  </dd>
  
  <dt>
    @Html.DisplayNameFor(model => model.SessionPlan)
  </dt>

  <dd>
    @Html.DisplayFor(m => m.SessionPlan)


  </dd>
  <dt>
    @Html.DisplayNameFor(model => model.SessionNotesPosition)
  </dt>

  <dd>
    @Html.DisplayFor(m => m.SessionNotesPosition)
  </dd>
  <dt>
    @Html.DisplayNameFor(model => model.SessionNotesTechniques)
  </dt>

  <dd>
    @Html.DisplayFor(m => m.SessionNotesTechniques)
  </dd>
  <dt>
    @Html.DisplayNameFor(model => model.SessionNotesFindings)
  </dt>

  <dd>
    @Html.DisplayFor(m => m.SessionNotesFindings)
  </dd>
</dl>