@model ActiveEdge.Read.Model.Session.SessionModel
<dl class="dl-horizontal">
  <dt>
    @Html.DisplayNameFor(model => model.Date)
  </dt>

  <dd>
    @Html.DisplayFor(model => model.Date)
  </dd>
  
  <dt>
    @Html.DisplayNameFor(model => model.ClientFullName)
  </dt>

  <dd>
    @Html.DisplayFor(model => model.ClientFullName)
  </dd>

  <dt>
    @Html.DisplayNameFor(model => model.Feedback)
  </dt>

  <dd>
    @Html.DisplayFor(model => model.Feedback)
  </dd>

  <dt>
    @Html.DisplayNameFor(model => model.GoalOrExpectations)
  </dt>

  <dd>
    @Html.DisplayFor(model => model.GoalOrExpectations)
  </dd>
  <dt>
    @Html.DisplayNameFor(model => model.AreasOfDiscomfort)
  </dt>

  <dd>
    @Html.HiddenFor(model => model.AreasOfDiscomfort)
    <div id="canvasDiv" class="areas-of-discomfort"></div>
  </dd>

  <dt>
    @Html.DisplayNameFor(model => model.ContributingFactorsToCondition)
  </dt>

  <dd>
    @Html.DisplayFor(model => model.ContributingFactorsToCondition)
  </dd>

  <dt>
    @Html.DisplayNameFor(model => model.PreMassagePalpation)
  </dt>

  <dd>
    @Html.DisplayFor(model => model.PreMassagePalpation)
  </dd>
  <dt>
    @Html.DisplayNameFor(model => model.Hypothesis)
  </dt>

  <dd>
    @Html.DisplayFor(model => model.Hypothesis)
  </dd>
  <dt>
    @Html.DisplayNameFor(model => model.SessionPlan)
  </dt>

  <dd>
    @Html.DisplayFor(m => m.SessionPlan)


  </dd>
  <dt>
    @Html.DisplayNameFor(model => model.TreatmentNotes)
  </dt>

  <dd>
    @Html.DisplayFor(m => m.TreatmentNotes)
  </dd>
  
</dl>