@model ActiveEdge.Models.SessionModel

@{
  ViewBag.Title = "Edit";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Edit</h2>
    <ol class="breadcrumb">
      <li>
        @Html.ActionLink("List", "Index")
      </li>
      <li class="active">
        <strong>Edit</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      @Html.ActionLink("Back to List", "Index", null, new {@class = "btn btn-primary"})
    </div>
  </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Edit SessionModel</h5>
        </div>
        <div class="ibox-content">

          @using (Html.BeginForm())
          {
            <div class="form-horizontal">
              @Html.EditorForModel()
            </div>
          }

        </div>
      </div>
    </div>
  </div>
</div>


@section scripts {
  @Scripts.Render("~/bundles/jqueryval")
  @Scripts.Render("~/bundles/typeahead")
  @Scripts.Render(Bundles.Scripts.ActiveEdge)
  @Scripts.Render("~/bundles/soapnotes")

  @Scripts.Render("~/plugins/dataPicker")
  @Scripts.Render(Bundles.Scripts.Summernote)
}

@section styles
{
  @Styles.Render(Bundles.Css.Summernote)
  @Styles.Render("~/plugins/dataPickerStyles")
}