@model ActiveEdge.Read.Model.Session.SessionModel

@{
  ViewBag.Title = "New Session";
}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Create</h2>
    <ol class="breadcrumb">
      <li>
        @Html.ActionLink("List", "Index")
      </li>
      <li class="active">
        <strong>Session Plan</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      @Html.ActionLink("Back to List", "Index", null, new {@class = "btn btn-primary"})
    </div>
  </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
  @Html.Partial("_AlertsPartial")
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>New Session</h5>
        </div>
        <div class="ibox-content">

          @using (Html.BeginForm("Edit", "Session"))
          {
            <div class="form-horizontal">
              @Html.AntiForgeryToken()
              @Html.ValidationSummary(true)
              @Html.HiddenFor(m => m.Id)
              @Html.HiddenFor(m => m.Date)
              @Html.HiddenFor(model => model.ClientId)
              @Html.HiddenFor(model => model.Feedback)
              @Html.HiddenFor(model => model.GoalOrExpectations)
              @Html.HiddenFor(model => model.AreasOfDiscomfort)


              <div class="form-group">
                @Html.LabelFor(model => model.ContributingFactorsToCondition, new {@class = "control-label col-md-2"})
                <div class="col-md-6">
                  @Html.EditorFor(model => model.ContributingFactorsToCondition)
                  @Html.ValidationMessageFor(model => model.ContributingFactorsToCondition)
                </div>
              </div>

              <div class="form-group">
                @Html.LabelFor(model => model.PreMassagePalpation, new {@class = "control-label col-md-2"})
                <div class="col-md-6">
                  @Html.EditorFor(model => model.PreMassagePalpation)
                  @Html.ValidationMessageFor(model => model.PreMassagePalpation)
                </div>
              </div>

              <div class="form-group">
                @Html.LabelFor(model => model.Hypothesis, new {@class = "control-label col-md-2"})
                <div class="col-md-6">
                  @Html.EditorFor(model => model.Hypothesis)
                  @Html.ValidationMessageFor(model => model.Hypothesis)
                </div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                @Html.LabelFor(model => model.SessionPlan, new {@class = "control-label col-md-2"})
                <div class="col-md-6">
                  @Html.EditorFor(model => model.SessionPlan)
                  @Html.ValidationMessageFor(model => model.SessionPlan)
                </div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                @Html.LabelFor(model => model.TreatmentNotes, new {@class = "control-label col-md-2"})
                <div class="col-md-6">
                  @Html.EditorFor(model => model.TreatmentNotes)
                  @Html.ValidationMessageFor(model => model.TreatmentNotes)
                </div>
              </div>
              @*<div class="hr-line-dashed"></div>
              <div class="form-group">
                @Html.LabelFor(model => model.SessionNotesTechniques, new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                  @Html.EditorFor(model => model.SessionNotesTechniques)
                  @Html.ValidationMessageFor(model => model.SessionNotesTechniques)
                </div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                @Html.LabelFor(model => model.SessionNotesFindings, new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                  @Html.EditorFor(model => model.SessionNotesFindings)
                  @Html.ValidationMessageFor(model => model.SessionNotesFindings)
                </div>
              </div>*@
              <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                  <input type="submit" value="Create" class="btn btn-primary"/>
                  @Html.ActionLink("Cancel", "Index", null, new {@class = "btn btn-white"})
                </div>
              </div>

            </div>
          }

        </div>
      </div>
    </div>
  </div>
</div>


@section scripts {
  @Scripts.Render(Bundles.Scripts.JqueryValidation)
  @Scripts.Render(Bundles.Scripts.ActiveEdge)
  @Scripts.Render(Bundles.Scripts.Session.Plan)
  @Scripts.Render(Bundles.Scripts.DatePicker)
}

@section styles
{
  @Styles.Render(Bundles.Css.Summernote)
  @Styles.Render(Bundles.Css.DatePicker)
}