@using ActiveEdge.Helpers
<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold">Example user</strong>
              </span> <span class="text-muted text-xs block">Example menu <b class="caret"></b></span>
            </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
        <div class="logo-element">
          Active Edge
        </div>
      </li>

      <li class="@Html.IsSelected(controller: "Client")">
        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label" data-i18n="nav.forms">Clients</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Forms", cssClass: "in")">
          <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Client")">All Clients</a></li>
          <li class="@Html.IsSelected(action: "Create")"><a href="@Url.Action("Create", "Client")">Create New</a></li>
          <li class="@Html.IsSelected(action: "Create2")"><a href="@Url.Action("Intake", "Client")">Intake Form</a></li>

        </ul>
      </li>
    </ul>
  </div>
</nav>