@using ActiveEdge.Helpers
@using Roles = Domain.Context.Roles
<div class="row border-bottom white-bg">
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-header">
      <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <i class="fa fa-reorder"></i>
      </button>
      <a href="#" class="navbar-brand">Active Edge</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li class="active">
          <a aria-expanded="false" role="button" href="@Url.Action("Index", "Home")">Home</a>
        </li>
        <li class="dropdown">
          <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Clients <span class="caret"></span></a>
          <ul role="menu" class="dropdown-menu">
            <li class="@Html.IsSelected(action: "Index", controller: "Client")"><a href="@Url.Action("Index", "Client")">All Clients</a></li>
            <li class="@Html.IsSelected(action: "Create", controller: "Client")"><a href="@Url.Action("Create", "Client")">Intake Form</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown">Sessions <span class="caret"></span></a>
          <ul role="menu" class="dropdown-menu">
            <li class="@Html.IsSelected(action: "Index", controller:"Session")"><a href="@Url.Action("Index", "Session")">All Sessions</a></li>
            <li class="@Html.IsSelected(action: "Create", controller:"Session")"><a href="@Url.Action("Create", "Session")">Create</a></li>
          </ul>
        </li>
        @if (User.IsInRole(Roles.SystemAdministrator))
        {
            <li class="dropdown">
              <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <span class="caret"></span></a>
              <ul role="menu" class="dropdown-menu">
                <li class="@Html.IsSelected(action: "Index", controller: "Organization")"><a href="@Url.Action("Index", "Organization")">All Organizations</a></li>
                <li class="@Html.IsSelected(action: "Create", controller: "Organization")"><a href="@Url.Action("Create", "Organization")">New Organization</a></li>
              </ul>
            </li>
        }
        
      </ul>
      <ul class="nav navbar-top-links navbar-right">
        <li>
          @using (Html.BeginForm("LogOff", "Account"))
          {
            @Html.AntiForgeryToken()
              <button type="submit" class="btn">
                <i class="fa fa-sign-out"></i> Log out
              </button>
          }
        </li>
      </ul>
    </div>
  </nav>
</div>