@model ActiveEdge.Read.Model.ClientModel

<div class="ibox-heading">
  <h3>Personal Information</h3>
</div>

@Html.ValidationSummary(true)

@Html.EditorFor(model => model.FirstName, "StandardFormTextBox")
@Html.EditorFor(model => model.LastName, "StandardFormTextBox")
@Html.EditorFor(model => model.DateOfBirth, "StandardFormDateTime")
@Html.EditorFor(model => model.Gender, "StandardFormEnumDropDownList")
@Html.EditorFor(model => model.Email, "StandardFormTextBox")
@Html.EditorFor(model => model.ContactNumber, "StandardFormTextBox")
@Html.EditorFor(model => model.AddressLine1, "StandardFormTextBox")
@Html.EditorFor(model => model.AddressLine2, "StandardFormTextBox")
@Html.EditorFor(model => model.Suburb, "StandardFormTextBox")
@Html.EditorFor(model => model.City, "StandardFormTextBox")
<div class="ibox-heading">
  <h3>History</h3>
</div>
@Html.EditorFor(model => model.ExcerciseFrequency, "StandardFormEnumDropDownList")
@Html.EditorFor(model => model.IsSmoker, "StandardFormCheckBox")
@Html.EditorFor(model => model.CurrentMedications, "StandardFormTextBox")
@Html.EditorFor(model => model.PreviousAilments, "StandardFormTextBox")
@Html.EditorFor(model => model.GeneralPractionerName, "StandardFormTextBox")
@Html.EditorFor(model => model.MedicalClearance, "StandardFormCheckBox")
@Html.EditorFor(model => model.HasHadPreviousTherapy, "StandardFormCheckBox")
@Html.EditorFor(model => model.TouchPreference, "StandardFormEnumDropDownList")

<div class="ibox-heading">
  <h3>Medical Conditions</h3>
</div>
<div class="form-group">
  @Html.LabelFor(model => model.CurrentStressLevels, new {@class = "control-label col-md-2"})
  <div class="col-md-6">
    <div id="currentStressLevelsSlider"></div>
    @Html.HiddenFor(model => model.CurrentStressLevels)
  </div>
</div>
<div class="form-group">
  @Html.LabelFor(model => model.CurrentPainOrTensionLevels, new {@class = "control-label col-md-2"})
  <div class="col-md-6">
    <div id="currentPainOrTensionLevelsSlider"></div>
    @Html.HiddenFor(model => model.CurrentPainOrTensionLevels)
  </div>
</div>
@Html.EditorFor(model => model.Difficulties, "StandardFormTextBox")
@Html.EditorFor(model => model.AreasNotToBeMassaged, "StandardFormTextBox")
<div class="form-group">
  <label class="control-label col-md-2">Conditions</label>

  <div class="col-md-2">
    <div class="checkbox">
      @Html.EditorFor(client => client.ContraIndicationsArteriosclerosis)
    </div>
    <div class="checkbox">
      @Html.EditorFor(client => client.ContraIndicationsAsthma)
    </div>
    <div class="checkbox">
      @Html.EditorFor(client => client.ContraIndicationsCancer)
    </div>
    <div class="checkbox">
      @Html.EditorFor(client => client.ContraIndicationsColdOrFlu)
    </div>
    <div class="checkbox">
      @Html.EditorFor(client => client.ContraIndicationsContactLenses)
    </div>
  </div>
  <div class="col-md-2">
    <div class="checkbox ">
      @Html.EditorFor(client => client.ContraIndicationsCutsBurnsBruises)
    </div>
    <div class="checkbox ">
      @Html.EditorFor(client => client.ContraIndicationsDepression)
    </div>
    <div class="checkbox">
      @Html.EditorFor(client => client.ContraIndicationsDiabetes)
    </div>
    <div class="checkbox">
      @Html.EditorFor(client => client.ContraIndicationsDizziness)
    </div>
    <div class="checkbox">
      @Html.EditorFor(client => client.ContraIndicationsEpilepsy)
    </div>
  </div>
  <div class="col-md-2">
    <div class="checkbox">
      @Html.EditorFor(client => client.ContraIndicationsHeadache)
    </div>
    <div class="checkbox">
      @Html.EditorFor(client => client.ContraIndicationsHeartDisease)
    </div>
    <div class="checkbox">
      @Html.EditorFor(client => client.ContraIndicationsHemophilia)
    </div>
    <div class="checkbox">
      @Html.EditorFor(client => client.ContraIndicationsHernia)
    </div>
    <div class="checkbox">
      @Html.EditorFor(client => client.ContraIndicationsHighBloodPressure)
    </div>
  </div>
  <div class="col-md-2">
    <div class="checkbox ">
      @Html.EditorFor(client => client.ContraIndicationsImflammation)
    </div>
    <div class="checkbox ">
      @Html.EditorFor(client => client.ContraIndicationsIrritatedSkinRash)
    </div>
    <div class="checkbox ">
      @Html.EditorFor(client => client.ContraIndicationsIsPregnant)
    </div>
    <div class="checkbox ">
      @Html.EditorFor(client => client.ContraIndicationsLowBloodPressure)
    </div>
    <div class="checkbox ">
      @Html.EditorFor(client => client.ContraIndicationsIsPregnant)
    </div>
    <div class="checkbox i-checks ">
      @Html.EditorFor(client => client.ContraIndicationsStomachUlcers)
    </div>
  </div>
  <div class="col-md-2">
    <div class="checkbox ">
      @Html.EditorFor(client => client.ContraIndicationsMusculoskletalProblems)
    </div>
    <div class="checkbox ">
      @Html.EditorFor(client => client.ContraIndicationsPinsPacemaker)
    </div>
    <div class="checkbox ">
      @Html.EditorFor(client => client.ContraIndicationsSeverePain)
    </div>
    <div class="checkbox ">
      @Html.EditorFor(client => client.ContraIndicationsSunburn)
    </div>
    <div class="checkbox ">
      @Html.EditorFor(client => client.ContraIndicationsSleepDisturbance)
    </div>
    <div class="checkbox ">
      @Html.EditorFor(client => client.ContraIndicationsVaricoseVeins)
    </div>
  </div>


</div>